<!DOCTYPE html>
<html>
  <head>
    <title>twipoke</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <div class="app-title">
      <h1>Twipoke</h1>
      <p>Twitterのフォロワーで対戦するアプリ</p>
    </div>
    <div class="app-info">
      <p>
        レート・ランキング機能対応
      </p>
      <p>
        あなたのフォロワーで競い合おう!!
      </p>
    </div>
    <form action="auth/twitter" method="POST" class="twi-cooperation">
      <button type="submit" class="btn">Twitterと連携して始める</button>
    </form>
    <form action="/debug" method="GET">
      <button type="submit">デバッグルーム</button>
    </form>
  </body>
</html>
