<!DOCTYPE html>
<html>
  <head>
    <title>twipoke</title>
    <link rel="stylesheet" href="/stylesheets/search.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>

    <div class="searchContainer">
        <h3>対戦部屋ID</h3>
        <input id="searchRoomID" class="textbox" type="text" placeholder="部屋IDを半角数字で入力">
    </div>
    <button id="searchSubmit" class="btn" type="submit">対戦部屋を検索</button>
    <button id="returnHome" class="btn" type="submit">ホーム画面に戻る</button>

    <script src="/javascripts/search.js"></script>

  </body>
</html>